<p style="color: green"><%= notice %></p>

<div id="movie">
<%= render @movie %>
</div>

<div>
  <%= link_to "Edit this movie âœðŸ»", edit_movie_path(@movie) %> |
  <%= link_to "â† Back to movies", movies_path %>
  <%= button_to "Destroy this movie ðŸš®", @movie, method: :delete %>
</div>
